* {
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	/*position: relative;*/

}

.navbar {
	margin-bottom: 0px;
	height: 30%;
	background-color: #D9B8C4;
	border-radius: 0;
	border: 1px solid #6B4E71;
}

.navbar-brand {
	text-align: left;
	font-size: 25px;
}

.navbar-default .navbar-brand{
	color: black;
}
#page-heading{
	font-size: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #6B4E71;
}

.container .row  p{
	background-color: #D9B8C4;
	padding: 15px;
	height: 700%;
}


.container .row h2{
	margin-bottom: 0px;
}


#Chicken{
	background-color: #D9B8C4;
	padding-top: 10px;
	padding-bottom: 10px;
}

#Beef{
	background-color: #D9B8C4;
	padding-top: 10px;
	padding-bottom: 10px;
}

#Sushi{
	background-color: #D9B8C4;
	padding-top: 10px;
	padding-bottom: 10px;
}

#collapsable-nav{
	margin-left: 10%;
	margin-right: 10%;
}

#nav-list {
	width: 100%;
}
#nav-list a{
	color: white;
}
#nav-list a:hover{
	color: #6B4E71;
}

#nav-list li{
	font-size: 1.2em;
}

/*Desktop Medium*/
@media (min-width: 992px){
}

/*Tablet Small*/ /*The 3 bar menu stops appearing*/
@media (min-width: 768px) and (max-width: 991px){

}

/*Phone XS*/
@media (max-width:768px){

}