body{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: relative;

}
#header-nav{
	background-color: #D9B8C4;
	border-radius: 0;
	border: 1px solid #6B4E71;
	width:100%;
}
.navbar-header {
	padding: 10px;

}
.navbar-brand h1{
	margin-top: -10px;
	text-align: left;
	color: #6B4E71;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #6B4E71;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  margin-bottom: 0px;
}
#nav-list {
	width: 100%;
}
#nav-list a{
	color: white;
}
#nav-list a:hover{
	color: #6B4E71;
}

#nav-list li{
	font-size: 1.2em;
}
#page-heading{
	font-size: 20px;
	margin-bottom: 10px;
}
.jumbotron{
	margin-top: 45px;
	height: 1000px;
	background-color: #dbcedb;
}
.jumbotron h2{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.jumbotron p{
	overflow: hidden;
}
.container .jumbotron{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 30px;
}	
.container {
	margin-right: 20px;
	margin-left: 20px;
}
/*Desktop Medium*/
@media (min-width: 992px){
	.container {
		margin-left: 45px;
	}
	#page-heading {
		font-size: 1.5em;
	}
}

/*Tablet Small*/
@media (min-width: 768px) and (max-width: 991px){
	.container {
		margin-left: 10px;
	}
	#page-heading {
		margin-bottom: 10px;
	}
}

/*Phone XS*/
@media (max-width:540px){

	.jumbotron {
		height: 1500px;
	}
	#page-heading{
		font-size: 20px;
		margin-bottom: -20px;
	}	
}